@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

* {
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Roboto Slab", serif;
  transition-property: color, background-color, border-color, box-shadow,
    opacity, scale;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/morning.jpeg');
  background-position: center center;
}
