@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html[data-theme] {
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --depth: 0;
}

* {
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Roboto Slab", serif;
  transition-property: color, background-color, border-color, box-shadow,
    opacity, scale, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
